<!DOCTYPE html>
<html>
    <head>
        <title>geo APIs</title>
    </head>
    <body>
        <h1>This is the index file of the geo app</h1>
        <h3>On this server, you can use the following geospatial APIs:</h3>
        <ol>
            <li>Buffer a point</li>
            <p>example --> <a target="_blank" href="http://127.0.0.1:5000/buffer-point?lon=73.51&lat=4.17&buf-dist=25">http://127.0.0.1:5000/buffer-point?lon=73.51&lat=4.17&buf-dist=25</a></p>
            <li>Geospatail function 2</li>
            <p>example --> ... </p>
            <li>Geospatail function 3</li>
            <p>example --> ... </p>
        </ol>
    </body>
</html>